.zone{
    background-color: #272522;
    width: 500px;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}
.item{
    width: 100px;
    height: 100px;
}
.item div {
    width: 100px;
    height: 100px;
}
.over{
    background-color: #24221f;
}