.black{
    background-color: #4b7399;
}
.white{
    background-color: #eae9d2;
}
.square{
    display: flex;
    width: 100px;
    height: 100px;
}
@media screen and (min-width: 2000px){
    .square{
        width: 120px;
        height: 120px;
    }
}
@media screen and (min-width: 1500px){
    .square{
        width: 85px;
        height: 85px;
    }
}
@media screen and (min-width: 1000px){
    .square{
        width: 75px;
        height: 75px;
    }
}

